.gas-station-card {
    max-width: 300px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }