nav {
    width: 100%;
    background-color: rgba(28, 51, 97, 0.7);
    display: flex;
    padding: 5px;
    justify-content: space-between;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
    border-radius: 5px;
    color: black;
}

ul {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #0c1618;
    margin: 2%;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: max-height 0.4s ease-out, opacity 0.4s ease-out, visibility 0.4s;
}

input:checked~ul {
    max-height: 500px; /* Ajusta este valor según sea necesario */
    opacity: 1;
    visibility: visible;
}

#menu {
    display: none;
}

#menu-icon {
    margin-right: 20px;
    color: white;
    transition: transform 0.4s ease-out; /* Transición para la rotación */
}

#menu-icon.rotate { /* Agregar clase 'rotate' para rotar */
    transform: rotate(90deg);
}

#canIcon {
    margin-left: 20px;
    max-width: 45px;
    max-height: 45px;
}

nav>div>label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

nav>a {
    color: black;
}

li {
    display: block;
    background: rgb(138, 138, 138);
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
}

#smileIcon {
    height: 40px;
}

#desplegable {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: flex-start;
}
